<footer class="footer">
  <div class="container">
    <ul class="menu">
        <a href="#top">Вгору</a>
      </ul>
  </div>
</footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>

</body>

</html>